<div class="form-group col-md-12">
    <label class="control-label">Reclamo Nro.</label>
    <div class="col-md-12">
        <input class="reclamo-id form-control readonly" type="text" value="">
    </div>
</div>
<div class="form-group col-md-12">
    <label class="control-label">Fecha de Creación</label>
    <div class="col-md-12">
        <input class="reclamo-fecha-creacion form-control readonly fechas-input" type="text"  value="">
    </div>
</div>

<div class="form-group col-md-12">
    <label class="control-label">Reclamo</label>
    <div class="col-md-12">
        <textarea class="reclamo-texto form-control metadata" rows="7"></textarea>
    </div>
</div>

<footer>
    <button type="submit" class="guardar-reclamo-btn btn btn-primary" style="display: none">
        Guardar
    </button>
    <button type="submit" class="crear-reclamo-btn btn btn-primary">
        Crear
    </button>
    <button type="button" class="eliminar-reclamo-btn btn btn-default" disabled="disabled">
        Eliminar
    </button>
    <button type="button" class="imprimir-reclamo-btn btn btn-default" disabled="disabled">
        Imprimir
    </button>
    <div class="save_waiting"><i class="fa fa-cog fa-spin"></i> Por favor, espere</div>
</footer>
<hr>