/nbproject/private/
/nbproject/project.xml
/nbproject/private/private.xml
/nbproject/private/private.properties
/nbproject/.DS_Store
.DS_Store
/system/.DS_Store
/assets/js/plugin/.DS_Store
/assets/js/.DS_Store
/assets/css/img/.DS_Store
/assets/css/.DS_Store
/assets/.DS_Store
/application/views/templates/.DS_Store
/application/views/.DS_Store
/application/config/.DS_Store
/application/.DS_Store
/vendor
